.DS_Store
flycheck_*
\#*
*~
*.*~
.yo-rc.json
/dist/
/.nyc_output
/coverage.lcov
/scratch
/secrets
.pnp.*
.yarn/*
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions
coverage
node_modules/
