.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color : black
}

.card{
  display: flex;
  background-color:powderblue;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  align-self: center;
  width: 400px;
  height: 500px;
  border-radius: 6px;
  margin-right: 30px;
}

.Result-box{
  font-size: "0.4rem";
  margin-top:20px;
  color: black;
}