registry=https://pkgs.dev.azure.com/investec/client-channel-tech/_packaging/client-channel-tech/npm/registry/
//https://pkgs.dev.azure.com/investec/client-channel-tech/_packaging/client-channel-tech/npm/registry/:_authToken="dGUybG14cHhzY3k0b2F2NGlyMmZ6NjVjc3p0d3p1dm9pN24zYmZzNHhhdW5ycHJ1dmgyYQ=="

always-auth=true